// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
    background-color: peru;
    color: plum;
    width: 100%;
    text-indent: 25px;
    letter-spacing: 30px;
    font-size: large;
    font: 150% ;
    padding: 0;
    top: 0;
}